#ContactContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#InfoContact {
  flex: 1;

  margin: 2rem;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: transform 0.3s ease;
  background-color: var(--soft-01);
  border-radius: 15px;

  h3 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  li {
    border: solid 1px var(--primary);
    background-color: var(--soft-01);
    border-radius: 20px;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    margin: 2.5rem;
    cursor: pointer;
  }

  svg {
    font-size: 3rem;
    color: var(--primary);
  }
}
#InfoContact li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
#FormContact {
  margin: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  background-color: var(--soft-01);
  border-radius: 15px;
  gap: 1rem;
  fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
  h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--soft-02);
    color: var(--white);
    transition: all 0.3ms ease-in-out;
    &:focus {
      background-color: var(--secondary);
      color: var(--white);
    }
    &::placeholder {
      opacity: 1;
      color: var(--white);
    }
    &.valid {
      outline: 0.1rem solid var(--success);
    }
  }
  .error {
    color: var(--error);
    width: 100%;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
  }
}
#BtnSubmmit {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  font-size: 20px;
  color: var(--white);
  &:hover {
    background-color: var(--soft-02);
    transform: scale(1.05);
  }
}
.MessageSucces {
  border: solid 1px var(--success);
  padding: 1rem 2rem;
  border-radius: 12px;
  color: var(--success);
}

@media (max-width: 768px) {
  #ContactContainer {
    flex-direction: column;
  }
}
