.FavoritesContainer {
  display: flex;
}

.Content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.FavoritesProducts {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
