#OrdersContainer {
  display: flex;
  width: 100%;
}
.Content {
  flex: 1;
}
.Content h2 {
  font-size: 40px;
  margin-bottom: 2rem;
}
.TableProducts {
  width: 100%;
  text-align: center;
}
#TheadTable {
  background-color: var(--soft-02);
}
