#OrdersContainer {
  display: flex;
  width: 100%;
}
.HeaderOrders {
  font-size: 1.5rem;
  margin: 1rem;
}
.OrdersContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.OrdersList {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
