#ProfileContainer {
  display: flex;
  min-height: 100vh;
}
.UserData {
  flex: 1;
  display: flex;
  padding: 1rem 2rem;
  margin: 1rem;
  gap: 4rem;
}
.Content h2 {
  font-size: 50px;
  padding: 1rem;
}
@media (max-width: 768px) {
  #ProfileContainer {
    width: 100%;
    flex-direction: column;
  }
  .Content {
    flex-direction: column;
  }
  .Content h2 {
    text-align: center;
  }
  .UserData {
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
  }
}
