:root {
  --primary: rgb(164, 118, 252);
  --secondary: rgb(24, 12, 52);
  --white: rgb(252, 252, 252);
  --black: rgb(16, 16, 16);
  --gray: rgb(100, 116, 139);
  --gray-02: rgb(71, 85, 105);
  --gray-03: rgb(210, 212, 214);
  --Btn-01: rgb(37, 99, 235);
  --Btn-01-hover: rgb(29, 78, 216);
  --Btn-02: rgb(216, 224, 231);
  --Btn-02-hover: rgb(208, 210, 214);
  --soft-01: rgba(252, 252, 252, 0.1);
  --soft-02: rgba(164, 118, 252, 0.3);
  --soft-03: rgba(24, 12, 52, 0.3);
  --soft-04: rgba(24, 12, 52, 0.9);
  --success: rgb(48, 232, 48);
  --error: rgb(252, 96, 72);
}
