:root {
  --primary: rgb(164, 118, 252);
  --secondary: rgb(24, 12, 52);
  --white: rgb(252, 252, 252);
  --black: rgb(16, 16, 16);
  --soft-01: rgba(252, 252, 252, 0.1);
  --soft-02: rgba(164, 118, 252, 0.3);
  --soft-03: rgba(24, 12, 52, 0.3);
  --soft-04: rgba(24, 12, 52, 0.9);
  --success: rgb(48, 232, 48);
  --error: rgb(252, 96, 72);
}
