.FormContainer {
  background: var(--white);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  margin: 1.5rem 0 3rem 0;
  border: 1px solid #f1f5f9;
}
.FormContainer h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--black);
  font-size: 1.25rem;
}
.AddContent {
  border: none;
  padding: 0;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.LabelName {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-02);
}

.AddInput {
  padding: 0.55rem;
  border: solid 1px var(--gray-02);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

#AddLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--white);
  border: 2px dashed var(--gray);
  border-radius: 8px;
  cursor: pointer;
  color: var(--gray-02);
  transition: all 0.2s;
}
#AddLabel:hover {
  background: var(--Btn-02);
  border-color: var(--Btn-01);
  color: var(--Btn-01);
}

.FormContainer button {
  margin: 0.5rem 1rem;
}

.BtnAdd {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.2s;
  background-color: var(--Btn-01);
  color: white;
}

.BtnAdd:hover {
  background-color: var(--Btn-01-hover);
}

.BtnCancel {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.2s;
  background-color: var(--Btn-02);
  color: var(--gray-02);
}

.BtnCancel:hover {
  background-color: var(--Btn-02-hover);
}
