#NavCategory {
  width: 100%;
  height: 7dvh;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  position: relative;
}

#Category {
  gap: 0.25rem;
  padding: 2rem;
  background: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;

  svg {
    color: var(--white);
    fill: var(--white);
    stroke: var(--white);
  }
}
#SvgCategory {
  font-size: 1.5rem;
  svg {
    color: var(--white);
    fill: var(--white);
    stroke: var(--white);
  }
}
#MenuSeccion {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.linkReset {
  position: relative;
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 400;
  padding-bottom: 2px;
}
.linkReset::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);

  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
}
.linkReset:hover::after {
  transform: scaleX(1);
}

#MenuMobile {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: var(--primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all 0.3s ease;
  z-index: 1000;
}

#MenuMobile.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
