.EditProductLayout {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}

@media (max-width: 1100px) {
  .EditProductLayout {
    grid-template-columns: 1fr 1fr;
  }
  .AttributeForm {
    grid-column: span 2;
  }
}
