footer {
  margin-top: auto;
  width: 100%;
}
#FooterContainer {
  background-color: var(--soft-02);
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.SocialSeccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30dvh;
  flex: 3;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}
.BrandFooter {
  justify-content: center;
  display: flex;
  height: 100%;
}

.SocialMedia {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.IconMedia {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.IconMedia:hover {
  color: var(--secondary);
  transition: all 0.3ms ease-in-out;
}
.FooterLinks {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.5rem;
  flex: 2;
}
.FooterLinks p:hover {
  color: var(--secondary);
  transition: all 0.3s ease;
}
.ContactInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 2;
}

small {
  background-color: var(--soft-02);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--primary);
  padding: 0.8rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--primary);
}

@media (max-width: 768px) {
  #FooterContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .BrandFooter svg {
    width: 80px;
    height: auto;
  }

  .FooterLinks,
  .ContactInfo {
    margin: 1.25rem;
  }
}
