.ItemProducto {
}
.Datos {
  font-weight: 500;
}
.Cantidad {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  & output {
    font-size: 1.25rem;
    font-weight: 500;
    flex: 1;
    text-align: center;
  }
}
.BtnEliminar {
  background-color: var(--error);
  padding: 0.5rem;
  font-size: 20px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--white);
    color: var(--error);
  }
}

.BtnCantidad {
  background-color: var(--primary);
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--white);
  border-radius: 0.25rem;
  aspect-ratio: 1/1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--white);
    color: var(--primary);
  }
}
