.Card {
  background-color: var(--soft-02);
  border-radius: 15px;
}

.CardImg {
  border-radius: 15px;
  margin: 0.5rem;
}
.Card picture {
  display: flex;
  justify-content: center;
}
.Card dl {
  margin: 0.5rem;
}
.Card dt {
  display: none;
}
.Title {
  color: var(--soft-04);
  font-weight: 500;
}
.infoCard {
  font-weight: 600;
}

.Btns {
  background-color: var(--primary);
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Btns:hover {
  background-color: var(--secondary);
  color: var(--white);
  transform: scale(1.02);
}
